*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Roboto";
    margin:0;
}
main{
    width: 1140px; 
}
.menu{
    background-color: rgba(144, 144, 144, 0.5);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.logo{
    width: 25px;
    color: grey;
    margin-left: 40px;
}
.menu1{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 69.57%;
}
.menu1 .amenu{
    margin-left: 50px;
}
.menu2{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
}
.input{
    background-color: rgba(144, 144, 144, 0);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 30px;
    height: 30px;
    margin-right: 20px;
    text-indent: 8px;
}
.amenu{
    margin-left: 15px;
    margin-right: 10px;
}
.tmenu{
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
}







/* PRODUCT */

.cuerpo{
    width: 1180px;
    display: flex;

}

.iphone17img{
    width: 100% ;
}
.imgIphone{
      width: 60% ;
}
.partederecha{
    width: 500px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    
    margin-bottom: 10px;

}
.titulo{
align-self:center;
width: 100%;
}
.tituloIphone{
color: white;
width: 200%;
font-size: 60px;
}
.precioIphone{
color: white;
font-size: 50px;
width: 200px;
}
.pagoIphone{
color: gray;
width: 250px;
}

.a17{
    color: white;
}
.descuadradito{
    color: white;
}
.faceID{
    width: 100px;
}
.battery{
    width: 100px;
}