*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Roboto";
    margin:0;
}
main{
    width: 1140px; 
}
.menu{
    background-color: rgba(144, 144, 144, 0.5);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.logo{
    width: 25px;
    color: grey;
    margin-left: 40px;
}
.menu1{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 69.57%;
}
.menu1 .amenu{
    margin-left: 50px;
}
.menu2{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
}
.input{
    background-color: rgba(144, 144, 144, 0);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 30px;
    height: 30px;
    margin-right: 20px;
    text-indent: 8px;
}
.amenu{
    margin-left: 15px;
    margin-right: 10px;
}
.tmenu{
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "DM sans";
    margin:0;
}
main{
    width: 1140px; 
}
.menu{
    background-color: ;
    border-radius: 30px;
    border: 0px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.logo{
    width: 35px;
    color: grey;
    margin-left: 40px;
}
.menu1{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 69.57%;
}
.menu1 .amenu{
    margin-left: 50px;
}
.menu2{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
}
.input{
    background-color: rgba(144, 144, 144, 0);
    border: 2px solid rgb(195, 195, 195);
    border-radius: 30px;
    height: 40px;
    width: 200px;
    margin-left: 20px;
    text-indent: 15px;
    color: lightgrey;
}
.amenu{
    margin-left: 15px;
    margin-right: 10px;
}
.tmenu{
    color: rgb(195, 195, 195);
    text-decoration: none;
    font-family: "DM sans";
    font-weight: 500;
}
.cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    color: lightgrey;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.productos{
    width: 1200px;
    height: 1200px;
    background-color: rgba(144, 144, 144, 0);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.productos article{
    height: 530px;
    width: 18%;
    border: 0.5px solid ;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productos li{
    color: lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
}
ul{
    width: 190px;
    margin-left: 15px;
}
.productos h3{
    color: lightgrey;
    margin-top: 15px;
    font-family: "DM sans";
}
div{
    width: 200px;
    color: lightgrey;
    margin-bottom: 10px;
}
div p{
    font-size: 20px;
}
.img{
    width:190px;
    border-radius: 30px;
}
.ver{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    border: 0.5px solid lightgrey;
    padding: 10px;
    border-radius: 30px;
    align-self: flex-end;
    width: 150px;
    margin-bottom: 15px;
}
.primero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1180px;
    height: ;
    background-color: ;
    margin-top: 0px;
    border-radius: 30px;
}
.num{
    color: black;
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.air{
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 480px;
}

.ah2{
    align-self: center;
    height: 208px;
}
.h2a{
    font-size: 56px;
    color: lightgrey;
}
.h2b{
    font-weight: 2000;
    font-family: "bungee";
    font-size: 100px;
    height: 100px;
    color: lightgrey;
}
.parrafo_airpods{
    color: white;
    width: 380px;
    font-size: 12px;
    align-self: center;

}
.comprar{
    text-decoration: none;
    background-color: black;
    color: lightgrey;
    border: 0.5px solid lightgrey;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-bottom: 15px;
    height:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
.biens{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.bien{
    color: white;
    font-size: 25px;
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.foot{
    height: 70px;
    width: 1180px;
    border: 0.5px solid lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu3{
    color: lightgrey;
    text-decoration: none;
    
}
span{
    margin-left: 10px;
    margin-right: 10px;
    color: lightgrey;
}
.mil{
   visibility: hidden;
   color: white;
}
select{
    background-color: black;
    border: black;
    color: white;
}







/* PRODUCT */

.cuerpo{
    width: 1180px;
    display: flex;

}

.iphone17img{
    width: 100% ;
}
.imgIphone{
      width: 60% ;
}
.partederecha{
    width: 500px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    
    margin-bottom: 10px;

}
.titulo{
align-self:center;
width: 100%;
}
.tituloIphone{
color: white;
width: 200%;
font-size: 60px;
}
.precioIphone{
color: white;
font-size: 50px;
width: 200px;
}
.pagoIphone{
color: gray;
width: 250px;
}

.a17{
    color: white;
}
.descuadradito{
    color: white;
}
.faceID{
    width: 100px;
}
.battery{
    width: 100px;
}