*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "DM sans";
    margin:0;
}
main{
    width: 1140px; 
}
.menu{
    
    border-radius: 30px;
    border: 0px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.logo{
    width: 35px;
    color: grey;
    margin-left: 40px;
}
.menu1{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 69.57%;
}
.menu1 .amenu{
    margin-left: 50px;
}
.menu2{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
}
.input{
    background-color: rgba(144, 144, 144, 0);
    border: 2px solid rgb(195, 195, 195);
    border-radius: 30px;
    height: 40px;
    width: 200px;
    margin-left: 20px;
    text-indent: 15px;
    color: lightgrey;
}
.amenu{
    margin-left: 15px;
    margin-right: 10px;
}
.tmenu{
    color: rgb(195, 195, 195);
    text-decoration: none;
    font-family: "DM sans";
    font-weight: 500;
}
.cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    color: lightgrey;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.productos{
    width: 1200px;
    height: 1200px;
    background-color: rgba(144, 144, 144, 0);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.productos article{
    height: 530px;
    width: 18%;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productos li{
    color: lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
}
ul{
    width: 190px;
    margin-left: 15px;
}
.productos h3{
    color: lightgrey;
    margin-top: 15px;
    font-family: "DM sans";
}
div{
    width: 200px;
    color: lightgrey;
    margin-bottom: 10px;
}
div p{
    font-size: 20px;
}
.img{
    width:190px;
    border-radius: 30px;
}
.ver{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    border: 0.5px solid lightgrey;
    padding: 10px;
    border-radius: 30px;
    align-self: flex-end;
    width: 150px;
    margin-bottom: 15px;
}
.primero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1180px;
    margin-top: 0px;
    border-radius: 30px;
}
.num{
    color: black;
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.air{
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 480px;
}

.ah2{
    align-self: center;
    height: 208px;
}
.h2a{
    font-size: 56px;
    color: lightgrey;
}
.h2b{
    font-weight: 2000;
    font-family: "bungee";
    font-size: 100px;
    height: 100px;
    color: lightgrey;
}
.parrafo_airpods{
    color: white;
    width: 380px;
    font-size: 12px;
    align-self: center;

}
.comprar{
    text-decoration: none;
    background-color: black;
    color: lightgrey;
    border: 0.5px solid lightgrey;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-bottom: 15px;
    height:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}
.biens{
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.bien{
    color: white;
    font-size: 25px;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.foot{
    height: 70px;
    width: 1180px;
    border: 0.5px solid lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu3{
    color: lightgrey;
    text-decoration: none;

}
span{
    margin-left: 10px;
    margin-right: 10px;
    color: lightgrey;
}
.mil{
   visibility: hidden;
   color: white;
}
select{
    background-color: black;
    border: black;
    color: white;
}
.bienvenido{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bienvenido1{
    font-size: 30px;
    font-weight: 600;
    color: lightgrey;
}
.login{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login1{
    height: 500px;
    width: 500px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login1 div{
    margin-top: 30px;
    width: 100%;
}
.form{
    width: 500px;
}
.h3_login, .h3_register{
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px;
}
.rectangulo{
    height: 40px;
    width: 100%;
    border: 2px solid lightgrey;
    background-color: black;
    color: lightgrey;
    text-indent: 12px;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.obligatorio{
    margin-top: 5px;
    font-size: 18px;
    color: red;
}
.recordame{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}
#recordame{
    width: 20px;
    height: 12px;
    margin: 0;
}
.combinacion{
    font-size: 13px;
    color: red;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 30px;
}
.boton1{
    height: 40px;
    width: 150px;
    background-color: lightgrey;
    border-radius: 30px;
    font-weight: bolder;
    color: black;
    border: none;
    cursor: pointer;
}
.register{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg1{
    height: 1000px;
    width: 500px;
    background-color: rgba(211, 211, 211, 0.65);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3_pais{
    font-weight: 500;
    font-size: 18px;
    margin-top: 35px;
}
select{
    width: 200px;
    cursor: pointer;
}
.genero{
    height: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}
.circ{
   height: 15px;
   width: 15px;
   margin: 0;
   margin-right: 5px;
   margin-left: 20px;
   appearance: none;
   border: 1px solid black;
   border-radius: 100%;
   background-color: white;
   cursor: pointer;
}
.pais{
    border: 2px solid lightgrey;
    border-radius: 30px;
    height: 30px;
    text-indent: 10px;
}
.cua{
    width: 20px;
    height: 12px;
    margin: 0;
   margin-right: 5px;
   margin-left: 20px;
   justify-self: flex-start;
   cursor: pointer;
}
textarea{
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.boton3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.botonn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 330px;
}
.productos1{
    width: 1200px;
    height: 600px;
    background-color: rgba(144, 144, 144, 0);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.productos1 article{
    height: 600px;
    width: 18%;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productos1 h3{
    margin-top: 20px;
}
.productos1 li{
    color: lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
}




/* PRODUCT */
.cuerpo{
    width: 1180px;
    margin-top: 60px;
    display: flex;
    color: lightgrey;
    color: lightgrey;
    font-family: "DM sans";
}

.iphone17img{
    width: 500px ;
    width: 450px ;
}
.imgIphone{
      width: 40% ;
    width: 40% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partederecha{
    width: 600px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    margin-bottom: 10px;

}
.titulo{
    align-self:center;
    width: 100%;
}
.tituloIphone{
color: lightgrey;
    width: 200%;
    width: 600px;
    font-size: 60px;
    margin: 0;
}
.precioIphone{
    color: lightgrey;
    font-size: 50px;
    width: 200px;
}
.pagoIphone{
    color: lightgrey;
    width: 250px;
}
.g5{
    color: lightgrey;
    font-size: 20px;
}
.a17{
    color: lightgrey;
    font-size: 20px;
}
.descuadradito{
    color: lightgrey;
    text-align: center;
    margin-top: 20px;
}
.faceID{
    width: 90px;
}
.battery{
    width: 90px;
}
.encuadradito{
    border: 3px solid lightgrey;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innovaciones{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cuadradito{
    width: 100px;
    justify-content: center;
    align-items: center;
}
.botones{
    display: flex;
    justify-content: space-between;
}
.divBotones{
    display: flex;
    flex-direction: row;
    justify-self: center;
    white-space: nowrap;
    height: 50px;
    margin-top: 30px;
}
.boton0{
    padding: 7px 50px;
    border: 3px solid;
    border-radius: 40px;
    width: 420px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
    cursor: pointer;
}

.noise{
    width: 100%;
}
.audio{
    width: 100%;
}
.spatial{
    background-color: #4A3F5F;
    border: 3px solid lightgrey;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}
.control{
    background-color: white;
    border: 3px solid lightgrey;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center
}
/* media */

@media (max-width: 1200px){
    main, .foot{
        width: 90vw;
        max-width: 850px;
        min-width: 650px;
    }
    .amenu{
        margin-left: 10px;
        margin-right: 5px;
    }
    .logo{
        margin-left: 20px;
    }
    .menu1{
        width: 75%;
    }
    .menu2{
        width: 25%;
    }
    .cuerpo{
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 850px;
        min-width: 650px;
    }
    .productos{
        height: 2500px;
        width: 90vw;
        max-width: 850px;
        min-width: 650px;
    }
    .h1{
        height: 40px;
    }
    .productos article{
        width: 30%;
    }
    .input{
        width: 8.33vw;
        max-width: 100px;
        min-width: 80px;
    }
    .primero{
        width: 90vw;
        max-width: 850px;
        min-width: 650px;    
        min-width: 650px;
        
    }
    h3{
        height: 20px;
    }
    .auris{
        width: 450px;
    }
    .air{
        width: 27vw;
        max-width: 400px;
    }
    .parrafo_airpods{
        display: none;
    }
    .ah2{
        height: 160px;
    }
    .h2a{
        font-size: 40px;
        align-self: center;
    }
    .h2b{
        font-size: 70px;
    }
    .mil{
        color: white;
        visibility: visible;
    }
    .productos1 article{
        width: 30%;
    }
    .productos1{
        height: 1300px;
        width: 90vw;
        max-width: 850px;
        min-width: 650px;
    }
    .cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divBotones{
        margin-top: 30px;
    }
    .partederecha{
        margin-top: 30px;
    }
}
@media (max-width: 650px){
    main{
        width: 550px;
        min-width: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .h1{
        width: 300px;
    }
    .cuerpo{
        width: 90vw;
        min-width: 0;
    }
    .productos{
        justify-content: center;
        height: 7000px;
        width: 90vw;
        min-width: 0;
    }
   .productos article{
        width: 90vw;
        height: 700px;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 0;
    }
    .productos h3{
        font-size: 21px;
    }
    .productos li{
        font-size: 12px;

    }
    h1{
        justify-self: center;
    }
    .ver{
        align-self: center;
        padding: 20px;
        font-size: 20px;
        width: 200px;
    }
    .img{
        width: 260px;
        height: 278px;
        
    }
    .vendido{
        flex-direction: column;
        width: 420px;
        height: 1000px;
        align-self: center;
    }
    .auris{
        width: 300px;
        height: 300px;
    }
    header{
        width:90vw;
    }
    .menu{
        flex-direction: column;
        height: 330px;
        width: 100%;
    }
    .menu1{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .menu2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
    }
    .menu1 .amenu{
        margin: 0px;
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid lightgrey;
        border-radius: 30px;
    }
    .menu2 .amenu{
        margin: 0px;
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid lightgrey;
        border-radius: 30px;
        color: black;
        background-color: lightgrey;
    }
    .menu2 .tmenu{
        color: black;
    }
    .tmenu{
        margin: 0;
    }
    .logo, #search.input{
        margin: 0;
    }
    #search.input{
        width: 100%;
        max-width: none;
    }
    footer{
        width: 90vw;
    }
    .foot{
        width: 90vw;
        display: none;
    }
    .vendido{
        height: 700px;
        width: 90vw;
    }
    .primero{
        height: 650px;
        width: 90vw;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .air{
        width: 90vw;
        height: 320px;
        display: flex;
        align-items: center;
    }
    .mil{
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
    }
    h1{
        font-size: 38px;

    }
    .productos1{
        justify-content: center;
        height: 3000px;
        width: 90vw;
        min-width: 0;
    }
   .productos1 article{
        width: 90vw;
        height: 700px;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 0;
    }
    .productos1 h3{
        font-size: 21px;
    }
    .productos1 li{
        font-size: 12px;

    }
     .iphone17img{
        width: 340px;
    }
    .cuerpo{
        width: 95vw;
    }
    .partederecha{
        width: 95vw;
    }
    .encuadradito{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110px;
    }
    .cuadradito{
        width: 23%;
    }
    .cuadradito img{
        width: 80%;
    }
    .a17{
        width: 90%;
        font-size: 16px;
        text-align: center;
    }
    .tituloIphone, .precioIphone{
        font-size: 40px;
        width: 100%;
    }
    .divBotones{
        width: 90vw;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .boton0{
        width: 90%;
        margin: 0;
        height: 50px;
    }
    .boton1{
        width: 90%;
        margin: 0;
        height: 50px;
    }
    .spatial, .control{
        width: 100%;
        height: 110px;
    }
    .register, .login{
        justify-content: center;
    }
    .reg1, .login1{
        width: 90vw;
        text-align: center;
        min-width: 340px;
    }
    .input{
        width: 55.38vw;
        min-width: 251px;
    }
    .register div{
        text-align: left;
    }
    select{
        width: 30.769vw;
        min-width: 150px;
    }
    .genero{
        width: 55.38vw;
        min-width: 340px;
        
    }
    .botonn{
        min-width: 340px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }
    .cua{
        margin-left: 15px;
    }
    .boton1{
        margin: 0;
        width: 340px;
    }
}
